@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
/*=================================================================
MIXINS
===================================================================*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Mono", monospace;
  color: white;
  background-color: rgb(73, 70, 79);
  margin: 0;
}

.back-to-top a, .back-to-top span, .scroll-down a, .scroll-down span {
  text-decoration: none;
  color: white;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.back-to-top a, .back-to-top span {
  font-size: 1.35em;
}

.wrapper {
  flex: 1;
  min-height: calc(100vh - 93px);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(55, 61, 67);
  color: white;
  bottom: 0;
  width: 100%;
}

.contact-text .form-position {
  display: inline;
}
@media (min-width: 768px) {
  .contact-text .form-position {
    display: none;
  }
}
@media (min-width: 768px) {
  .contact-text::after {
    content: " here.";
    font-weight: normal;
  }
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.aboutme .self-portrait {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 15px;
}
.aboutme .self-portrait img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 10px dashed rgb(55, 61, 67);
}
.aboutme .description p {
  margin: 5px 0;
}

.skills-hobbies-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.skills,
.hobbies {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  border: 10px dashed rgb(55, 61, 67);
}

.skills h2, .hobbies h2 {
  text-align: center;
}

@media (min-width: 992px) {
  .skills,
  .hobbies {
    text-align: center;
    font-size: 1.7em;
  }
  .description {
    font-size: 1.4em;
  }
}
@media (max-width: 400px) {
  .skills-hobbies-container {
    flex-direction: column;
  }
  .skills {
    margin-bottom: 20px;
  }
}
[class^=scheme] {
  padding: 10px 20px;
}
[class^=scheme] ul {
  line-height: 1.75em;
}
[class^=scheme] p {
  font-size: 1.2em;
}
[class^=scheme] h2 {
  text-align: center;
  margin-top: 0;
}
[class^=scheme] a {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
}
[class^=scheme] a img {
  vertical-align: middle;
  width: 1em;
  height: 1em;
  display: inline;
}
[class^=scheme] li {
  font-size: 1.2em;
}

.scs-scheme-header {
  padding-bottom: 15px;
  text-align: center;
}

.scheme-about {
  border-bottom: none;
}

.scheme img {
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

.slide {
  margin-right: 50px;
  margin-left: 50px;
}

.slick-dots li {
  list-style: none;
}

.slick-dots li button {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #333;
}

@media (min-width: 768px) {
  .scs-scheme-header {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: center;
  }
  [class^=scheme] h2 {
    font-size: 2em;
  }
  [class^=scheme] p {
    font-size: 1.5em;
  }
  .slide {
    margin-right: 150px;
    margin-left: 150px;
    border: 10px dashed rgb(55, 61, 67);
    padding: 40px;
  }
  .net-list {
    list-style: none;
    text-align: center;
    padding-left: 0;
  }
  .net-list li {
    font-size: 1.5em;
  }
  .scs-footer {
    position: absolute;
    width: calc(100vw - 200px);
    margin-left: 200px;
  }
}
.navbar {
  background-color: rgb(55, 61, 67);
  margin-top: -20px;
}

.nav-logo li {
  padding-top: 15px;
  font-size: 1.2em;
}

.nav-links ul, .nav-logo ul, .socials ul {
  list-style-type: none;
  padding: 0;
}

.nav-links {
  display: none;
  padding-top: 0;
}

.nav-links li, .nav-logo li {
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.socials span {
  font-size: 1.3em;
}

#linkedin:hover span:hover {
  color: #0077B5;
}

#github span:hover {
  color: black;
}

.socials ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-links li a, .nav-logo li a, .socials li a {
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  line-height: 1.2em;
}

.hamburger {
  display: block;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav-links.active {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: -20px;
  animation: fadeIn 0.7s forwards;
}
.nav-links.active .contact-me {
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .container {
    width: calc(100% - 200px);
    float: right;
  }
  .hamburger {
    display: none;
  }
  .navbar {
    width: 200px;
    height: 100vh;
    background-color: rgb(55, 61, 67);
    float: left;
    position: fixed;
    z-index: 2;
    margin-top: 0;
  }
  .nav-links {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .nav-links.active {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -20px;
  }
  .nav-logo li {
    padding-top: 0;
    font-size: 1em;
  }
  .nav-links, .nav-logo {
    width: 200px;
  }
  .nav-links ul, .nav-logo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .nav-logo ul:first-child {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 2em;
    border-top: 10px dashed rgb(73, 70, 79);
  }
  .nav-links ul:first-child {
    border-top: 10px dashed rgb(73, 70, 79);
    padding-top: 20px;
  }
  .nav-links li a, .nav-logo li a {
    display: block;
    padding: 8px 20px;
    text-decoration: none;
    color: white;
    line-height: 2em;
    text-align: center;
  }
  .nav-links a {
    width: 100%;
  }
  .nav-links li a:hover {
    background-color: rgb(60, 79, 88);
    color: white;
  }
  .scs-scheme {
    padding-bottom: 20px;
    border-bottom: 10px dashed rgb(73, 70, 79);
  }
  .contact-me {
    padding-top: 20px;
  }
  .content {
    margin-left: 200px;
  }
  .socials {
    padding-top: 20px;
  }
}
.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 114px);
  overflow: hidden;
}

section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hero-image.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: first baseline;
}

.text-editor {
  background: black;
  width: 90%;
  padding: 15px 15px 150px;
  border-radius: 8px;
  border-top: 20px solid #e8e8e8;
  margin-top: 125px;
}

.text-editor .text-body {
  font-size: 24px;
  color: white;
  word-wrap: break-word;
}

.scroll-down {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.35em;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-down .icon-arrow-down {
  margin-top: 5px;
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .hero {
    height: 100vh;
  }
  section {
    align-items: first baseline;
  }
  .text-editor {
    background: black;
    width: 60%;
    margin-top: 250px;
    padding: 15px 15px 300px;
    border-radius: 8px;
    border-top: 20px solid #e8e8e8;
  }
  .text-editor .text-body {
    font-size: 24px;
    color: white;
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}

.card {
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
  max-width: 400px;
  min-width: 300px;
  min-height: 450px;
}
.card:hover {
  transform: translateY(-8px);
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.card .front, .card .back {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(55, 61, 67);
  padding: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card .front img, .card .back img {
  max-width: 100%;
  width: 380px;
  height: 320px;
  border-radius: 8px;
  object-fit: cover;
}
.card .front h3, .card .back h3 {
  margin-bottom: 0;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  flex-grow: 0;
}
.card .front h4, .card .back h4 {
  margin-bottom: 0;
  text-align: center;
}
.card .front h4 span, .card .back h4 span {
  font-weight: 400;
}
.card .front a, .card .back a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: 5px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}
.card .front a:hover, .card .back a:hover {
  background-color: #0056b3;
}

.skills-req {
  list-style-type: none;
  padding: 10px 0 10px;
  margin: 0;
  text-align: center;
}

.flip-tag {
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 4px 6px;
  color: white;
  font-size: 0.8em;
  font-weight: 500;
  background-color: #007bff;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
}

@media (min-width: 1200px) {
  .card {
    max-width: 550px;
  }
}
.get-in-touch {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.git-info, .git-form {
  padding: 10px;
}

.git-info {
  flex: 1;
}

.git-form {
  flex: 2;
}

.form-row {
  display: flex;
  width: 100%;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(55, 61, 67);
}

input::placeholder, textarea::placeholder {
  color: white;
}

input[type=text] {
  flex: 1;
  margin-right: 10px;
}

input[type=text]:last-of-type {
  margin-right: 0;
}

button[type=submit] {
  text-decoration: none;
  padding: 8px 25px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  border: none;
}
button[type=submit]:hover {
  background-color: #0056b3;
}

textarea {
  resize: vertical;
  height: 150px;
}

@media (min-width: 768px) {
  .get-in-touch {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .get-in-touch {
    padding-right: 100px;
    padding-left: 100px;
  }
}
.coding {
  padding-left: 20px;
  padding-top: 20px;
}
.coding h1 {
  padding-top: 0;
}

/*# sourceMappingURL=styles.css.map */
