[class^="scheme"] {
    padding: 10px 20px;
    p {
        font-size: 1.2em;
    }
    h1 {
        padding-bottom: 15px;
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 1.4em;
        
        img {
            vertical-align: middle;
            width: 1em;
            height: 1em;
        }
    }
    li {
        font-size: 1.2em;
    }
}
[class^="scheme-"] {
    border-bottom: 10px dashed $color-secondary;
}

.scheme-about {
    border-bottom: none;
}
@include mq('m') {
    [class^="scheme"] h1, [class^="scheme"] h2{
        text-align: left;
    }
}
@include mq('xl') {
    .scheme-about {
        border-bottom: 10px dashed $color-secondary;
    }
}