[class^="scheme"] {
    padding: 10px 20px;
    
    ul {
        line-height: 1.75em;
    }
    p {
        font-size: 1.2em;
    }

    h2 {
        text-align: center;
        margin-top: 0;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 1.4em;
        
        img {
            vertical-align: middle;
            width: 1em;
            height: 1em;
            display: inline;
        }
    }
    li {
        font-size: 1.2em;
    }
}
.scs-scheme-header {
    padding-bottom: 15px;
    text-align: center;
}
.scheme-about {
    border-bottom: none;
}

.scheme img {
    vertical-align: middle;
    width: 1em;
    height: 1em;
}

.slide {
    margin-right: 50px;
    margin-left: 50px;
}
//dot styling
.slick-dots li {
    list-style: none;
}

.slick-dots li button {
    width: 15px;
    height: 15px;
    background-color: #ccc; 
    border-radius: 50%;
    border: none;
    padding: 0;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background-color: #333;
     
}
@include mq ('m') {
    .scs-scheme-header {
        font-size: 40px;
        padding-top: 20px;
        padding-bottom: 100px;
        text-align: center;
    }
    [class^="scheme"] {
        h2 {
            font-size: 2em;
        }
        p {
            font-size: 1.5em;
            
        }
    }
    .slide {
        margin-right: 150px;
        margin-left: 150px;
        border: 10px dashed $color-secondary;
        padding: 40px;
    }
    .net-list {
        list-style: none;
        text-align: center;
        padding-left: 0;
        li {
            font-size: 1.5em;
        }
    }
    .scs-footer {
        position: absolute; 
        width: calc(100vw - 200px); 
        margin-left: 200px;
    }
}