body {
    color: white;
    background: url('../../img/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: $color-primary;
    margin-left: 0;
    margin-top: 0;
    
}
