
* {
	box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'DM Mono', monospace;
    color: white;
    background-color: $color-primary;
    margin: 0;
    
}
.back-to-top {
    
    a, span{
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 1.35em; 
        color: white;
        cursor: pointer; 
        display: flex;
        flex-direction: column; 
        align-items: center; 
        padding-bottom: 10px;
    }
}
.wrapper {
    flex: 1;
    min-height: calc(100vh - 93px);
}
footer {
    text-align: center;
    padding: 20px;
    background-color: $color-secondary;
    color: white;
    bottom: 0;
    width: 100%;
}
