.hero {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(20%);
    z-index: 1; 
}

.hero h1, .hero h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}

.hero h1 {
    top: 45%;
    transform: translateY(-60%); 
    margin: 0;
    font-size: 4em; 
}


.hero h2 {
    top: 55%;
    transform: translateY(-60%); 
    margin: 0;
    font-size: 2em; 
}
.scroll-down {
    position: absolute;
    bottom: 10px; 
    width: 100%;
    text-align: center;
    font-size: 1.35em; 
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.scroll-down .icon-arrow-down {
    margin-top: 5px; 
    font-size: 1.5em; 
}

section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("/Portfolio/img/hero-image.jpg");

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text-editor {
    background: black;
    width: 60%;
    
    padding: 15px 15px 300px;
    border-radius: 8px;
    border-top: 20px solid #e8e8e8;
    
}

.text-editor .text-body {
    font-size: 24px;
    color: white;

}

