.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 114px); 
    overflow: hidden;
}

section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://roff-dev.github.io/Portfolio/img/hero-image.jpg'), url('/img/hero-image.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:first baseline;
    
}
.text-editor {
    background: black;
    width: 90%;
    padding: 15px 15px 150px;
    border-radius: 8px;
    border-top: 20px solid #e8e8e8;
    margin-top: 200px;
}

.text-editor .text-body {
    font-size: 24px;
    color: white;
    word-wrap: break-word;

}


.scroll-down {
    position: absolute;
    bottom: 10px; 
    width: 100%;
    text-align: center;
    font-size: 1.35em; 
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.scroll-down .icon-arrow-down {
    margin-top: 5px; 
    font-size: 1.5em; 
}



@include mq ('m') {
    .hero {
        height: 100vh;
    }
    section {
        background-image: url("https://github.com/roff-dev/Portfolio/blob/main/img/hero-image.jpg"), url("../../img/hero-image.jpg");
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: multiply;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: first baseline;
    }
    
    .text-editor {
        background: black;
        width: 60%;
        margin-top: 250px;
        padding: 15px 15px 300px;
        border-radius: 8px;
        border-top: 20px solid #e8e8e8;
        
    }
    
    .text-editor .text-body {
        font-size: 24px;
        color: white;
    
    }
}