.navbar {
    background-color: $color-secondary;
    margin-top: -20px;
}
.nav-logo li {
    padding-top: 15px;
}
.nav-links ul, .nav-logo ul, .socials ul {
    list-style-type: none;
    padding: 0;
}
.nav-links {
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; 
}
.nav-links li, .nav-logo li {
    display: flex; 
    justify-content: center; 
}
.socials {
    display: flex; 
    justify-content: center; 
    padding-bottom: 20px;
    
}
.socials span {
    font-size: 1.3em;
}
.socials ul {
    display: flex; 
    padding: 0; 
    margin: 0; 
    list-style-type: none;
}


.nav-links li a, .nav-logo li a, .socials li a {
    
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    line-height: 1.2em;
    

}
   


@include mq ('m') {
    .container {
        width: calc(100% - 200px);
        float: right;
    }
    .navbar {
    width: 200px;
    height: 100vh; 
    background-color: $color-secondary;
    float: left; 
    position: fixed;
    z-index: 2;
    margin-top: 0;
}
.nav-logo li {
    padding-top: 0;
}
.nav-links, .nav-logo {
    width: 200px;
}

.nav-links ul, .nav-logo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-logo ul:first-child {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 2em;
    border-top: 10px dashed $color-primary;
}
.nav-links ul:first-child {
    border-top: 10px dashed $color-primary;
    padding-top: 20px;
}
.nav-links li a, .nav-logo li a {
    display: block;
    padding: 8px 20px;
    text-decoration: none;
    color: white;
    line-height: 2em;
    text-align: center;
}

.nav-links a {
    width: 100%;
}

.nav-links li a:hover {
    background-color: $color-accent;
    color: white;
}
.scs-scheme {
    padding-bottom: 20px; 
    border-bottom: 10px dashed $color-primary; 
}
.contact-me {
    padding-top: 20px;
}
.content {
    margin-left: 200px; 
    
}
.socials {
    padding-top: 20px;
}
}

