
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: center;
    padding: 20px;
  
    .project-box {
      @include project-mix(15px, #333, 8px);
      flex: 1 1 calc(33.333% - 40px); 
      box-sizing: border-box;
      max-width: 550px;
      min-width: 400px;
    }
  
    
    @media (max-width: 400px) {
      gap: 15px; 
      padding-left: 10px;
      padding-right: 10px;
  
      .project-box {
        flex: 1 1 100%;   
        max-width: 100%;  
        min-width: 100%;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }

